
h3 {
	font-size: 90;
      
    color: red;
    text-align: center;
    

}


body {background-color: white;
     



}


a {} 



p {color: black;}






.topnav  {
	background-color: black;
    overflow: hidden;
}



.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
  
}


.topnav a.active {
  background-color: #4CAF50;
  color: white;
 
}

button {
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}




table, th, td {
  border: 1px dashed;
  border-collapse: collapse;}

th, td {
  padding: 10px;
  text-align: center;    
}